<h1 mat-dialog-title>Cloud Team Assistance</h1>
<div mat-dialog-content class="supportHolder">
    <textarea 
    fxFlex
    class="supportDescription"
    [(ngModel)]="supportText"
    [matTextareaAutosize]="true"
    placeholder="Write your inquiry"
    name="kubeConfig" 
    matInput fxFlex="100"></textarea>
    
</div>
<div mat-dialog-actions fxLayoutAlign="end">
    <button color="accent" mat-raised-button [mat-dialog-close]="data.object">Send</button>
    <button color="" mat-raised-button [mat-dialog-close]="false">Cancel</button>
</div>