<div class="page">
    <div class="pageContent">
        <mat-grid-list cols="2" rowHeight="3:1" [gutterSize]="'16px'" >
            <mat-grid-tile>
                <mat-card fxFlex="fill" fxLayoutAlign="center center" style="height:98%">
                    <a [routerLink]="['/admin/projects']">{{ projectCount$ }} Projects</a>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="fill" fxLayoutAlign="center center" style="height:98%">
                    <a [routerLink]="['/admin/users']">{{ userCount$ }} Users</a>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="fill" fxLayoutAlign="center center" style="height:98%">
                    {{ registryCount$ }} Registries
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="fill" fxLayoutAlign="center center" style="height:98%">
                    {{ clusterCount$ }} Clusters
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
