@import "../../../../variables.scss";
.pageContent{
    margin:0px;
    padding:0px;
    
}

mat-grid-tile{
    color: grey;
    font-size:2.1em;
    a{
        color: grey;
        text-decoration: none;    
    }
    mat-card{
        color: grey;
    }
}